version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: cron
      cronjob: 0 0 1 6,12 *
    groups:
      github-actions:
        patterns: ["*"]
  - package-ecosystem: npm
    directory: /
    versioning-strategy: increase
    schedule:
      interval: cron
      cronjob: 0 0 1 6,12 *
    groups:
      npm-dependencies:
        dependency-type: production
      npm-dev-dependencies:
        dependency-type: development
