name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Check lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Check for changes
        run: git diff --exit-code

  save-files:
    name: Save files
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create test files
        run:  |
          mkdir test-dir
          for i in {1..3}; do
            echo "$RANDOM" > "test-file-$i"
            echo "$RANDOM" > "test-dir/test-$i"
          done
          echo "${{ github.run_id }}" > ~/test-file
      - name: Test action
        id: cache
        uses: ./
        with:
          path: |
            test-file-*
            test-dir
            ~/test-file
          key: ${{ matrix.os }}-${{ github.run_id }}-${{ github.run_attempt }}
          bucket-name: ${{ vars.BUCKET_NAME }}
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Check outputs
        run: test -z "${{ steps.cache.outputs.cache-hit }}" 
      - name: Upload test file
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-test-files
          path: test-*
          retention-days: 1

  restore-files:
    name: Restore files
    needs: save-files
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Test action
        id: cache
        uses: ./
        with:
          path: |
            test-file-*
            test-dir
            ~/test-file
          key: ${{ matrix.os }}-${{ github.run_id }}-${{ github.run_attempt }}
          bucket-name: ${{ vars.BUCKET_NAME }}
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Check outputs
        run: test "${{ steps.cache.outputs.cache-hit }}" == "true"
      - name: Download test file
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.os }}-test-files
          path: original
      - name: Compare files
        run: |
          mkdir restored
          cp -r test-* restored
          diff -r original restored
          grep -q -x "${{ github.run_id }}" ~/test-file

  restore-keys:
    name: Restore keys
    needs: save-files
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Test action
        id: cache
        uses: ./
        with:
          path: |
            test-file-*
            test-dir
            ~/test-file
          key: ${{ matrix.os }}-${{ github.run_id }}-0${{ github.run_attempt }}
          restore-keys: |
            ${{ matrix.os }}-${{ github.run_id }}-
            ${{ matrix.os }}-
          bucket-name: ${{ vars.BUCKET_NAME }}
      - name: Check outputs
        run: test "${{ steps.cache.outputs.cache-hit }}" == "false"
      - name: Download test file
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.os }}-test-files
          path: original
      - name: Compare files
        run: |
          mkdir restored
          cp -r test-* restored
          diff -r original restored
          grep -q -x "${{ github.run_id }}" ~/test-file
